@using MvcStok.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ AD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KATEGORIID</td>
            <td>@item.KATEGORIAD</td>
            <td><a href="/Kategori/Sil/@item.KATEGORIID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Kategori/KategoriGetir/@item.KATEGORIID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index", new { sayfa }))
<br />
<a class="btn btn-primary" href="/Kategori/KategoriEkle">Yeni Kategori Ekle</a>

